@import "./shortcuts.scss";


html{
    background-color: #C9D4CC;
    display: flex;
    justify-content: center;
    align-items: center;
    .app{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .content_wrapper{
            display: flex;
            flex-direction: column;
            width:638px;
            height: 1000px;
            @include scaffolding-col;
            padding: 151px 0 0 0 ;

        }
    }
}
