@import "../../../mainStyle/shortcuts.scss";


.project_card{
    width: 100%;
    border: thin solid black;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    .project_title_block{
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project_title{
            width: 351px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dotted black;
            height: 100%;
            margin: 0 0 0 18px;
            padding: 0 0 5px 0;
            h5{
                @include Font;
                font-size:29px;
                font-weight: 200;
            }
            .prieview_label{
                width: 179px;
                height: 100%;
                border: 1px dotted black;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    @include Font;
                    font-size: 13px;
                }
    
            }
        }
        .project_exp_btn{
            width: 57px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dotted black;
        }
        
    }
   }