@import "../../../mainStyle/shortcuts.scss";

.exp_btn{
    all:unset;
    width: 80%;
    height: 80%;
    border: thin solid black ;
    border-radius:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg{
        transform:rotate(180deg);
        width: 21px;
        height: 12px;
    }
}

@media (max-width: 519px) {
    .exp_btn{
      
        svg{
            width: 17px;
            height: 12px;
        }
    }
    
}